<div>
  <label for="nameInput">Entrez votre nom :</label>
  <input id="nameInput" [(ngModel)]="name" placeholder="Votre nom ici">
</div>

<div>
  <label for="fontSelect">Choisir la police de caractère :</label>
  <select id="fontSelect" [(ngModel)]="fontFamily">
    <option value="Arial">Arial</option>
    <option value="Times New Roman">Times New Roman</option>
    <option value="Courier New">Courier New</option>
  </select>
</div>
<div>
  <label for="fontSize">Choisir la taille de la police :</label>
  <input type="number" id="fontSize" [(ngModel)]="fontSize" placeholder="16">
</div>
<div>
  <label>Choisir l'alignement :</label>
  <input type="radio" name="alignment" [(ngModel)]="textAlign" value="left"> Gauche
  <input type="radio" name="alignment" [(ngModel)]="textAlign" value="center"> Centre
  <input type="radio" name="alignment" [(ngModel)]="textAlign" value="right"> Droite
</div>

<div *ngIf="message">
  <p [ngStyle]="{
    'text-transform': 'uppercase', 
    'font-family': fontFamily,
    'font-size.px':fontSize,
    'text-align':textAlign
  }">
    {{ message }}
  </p>
</div>
